@import 'config';
//body
body{
    max-height: 100vh;
    display: flex;
    overflow-y: hidden;
    
    //sidebar nav
    aside{
        background: $color-white;
        height: 100vh;
        position: sticky;
        top: 0;
        width: 17rem;
        transition: transfrom .6s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
        .top-options,.bottom-options{
            //both upper and lower options
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            // individual option 
            .option{
                width: 95%;
                min-height: 4rem;
                display: flex;
                gap: 5%;
                align-items: center;
                justify-content: center;
                border-radius: 1rem;
                text-decoration: none;
                color: $color-black;
                //hover stylings
                &:hover{
                    background: $color-semi_blue;
                }
                // option content 
                .option-content{
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    gap: 5%;

                    svg{
                        height: 1.6rem;
                    }
                }
            }
            //stylings for active color
            .option.active{
                background: $color-semi_blue;
                border-left: 0.5rem solid $color-brand_blue;
            }
        }
    }
    main{
        background: $color-white;
        padding: 1rem;
        padding: 0;
        // navbar 
        nav{
            width: 100vw;
            padding: 1rem;
        }
        //title
        .brand-title{
            width: 90%;
            text-align: center;
        }
        //nav toggler
        .sidebar_toggler{
            display: none;
        }
        //section
        .analytics{
            margin: 1rem 0;
            background: $color-semi_white;
            border-radius: 1rem;

            #demo_chart{
                border-radius: 1rem;
                background: $color-white;
                height: 17rem !important;
            }
        }
    }
}

// making everything responsive 
@media (max-width: $breakpoint-L-tab) {
    nav{
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }
    body{
        position: relative;
    }
    .sidebar_toggler{
        display: inline-block !important;
        z-index: 10;
    }
    .sidebar_visible{
        transform: translateX(0) !important;
    }
    aside{
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-20rem);
        z-index: 9;
        border-right: 1px solid rgba(128, 128, 128, 0.326);

        .top-options{
            padding-top: 2rem;
        }
    }
    canvas{
        padding: .7rem;
    }
}