@import 'config';

main{
    section.section__your__products{

        margin: 2rem 0;

        .section__products__grid{
            display: grid;
            gap: 1rem;
            width: 100%;
            padding: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            column-gap: 2rem;

            .product{
                // min-width: 20rem;
                display: inline-flex;
                background: $color-semi_white;
                border-radius: .5rem;
                border: 1px solid $color-semi_blue;
                gap: .4rem;
                transition: all .2s ease-in;
                box-shadow: rgba(0, 0, 0, 0) 0px 4px 12px;
                &:hover{
                    scale: 1.02;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                }

                img.product__img{
                    width: 40%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }

                .product__content-con{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    justify-content: center;
                    .product__detail-con{
                        display: flex;
                        justify-content: space-between;
                        gap: .6rem;
                    }
                }
            }
        }
    }
}