@import 'config';
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;600;700;800&family=Ceviche+One&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
//body

body{
    max-height: 100vh;
    display: flex;
    overflow-y: hidden;
    
    //sidebar nav
    aside{
        background: $color-white;
        height: 100vh;
        position: sticky;
        top: 0;
        width: 17rem;
        transition: transfrom .6s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
        border-right: 1px solid $color-light-grey;
        .top-options,.bottom-options{
            //both upper and lower options
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            // individual option 
            .option{
                width: 95%;
                min-height: 4rem;
                display: flex;
                gap: 5%;
                align-items: center;
                justify-content: center;
                border-radius: 1rem;
                text-decoration: none;
                color: $color-black;
                //hover stylings
                &:hover{
                    background: $color-semi_blue;
                }
                // option content 
                .option-content{
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    gap: 5%;

                    svg{
                        height: 1.6rem;
                    }
                }
            }
            //stylings for active color
            .option.active{
                background: $color-semi_blue;
                border-left: 0.5rem solid $color-brand_blue;
            }
        }
    }
    main{
        width: calc(100% - 17rem);
        // navbar 
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 1.5rem;
            background: $color-white;
            .userCredentialImgBtn{
                height: 100%;
                img{
                    width: 2rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                }
            }
        }
        //title
        .brand-title{
            text-align: center;
        }
        //nav toggler
        .sidebar_toggler{
            display: none;
        }
        //section
        .hero__section{
            padding: 3rem;
            .hero__section-main-heading{
                font-family: "Noto Serif", serif;
                font-size: 4rem;
            }
            .hero__section-secoundary-heading{
                font-family: "Noto Serif", serif;
                font-size: 32px;
                font-weight: 400;
            }
            .hero__section-figure{
                padding: 3rem 0;
                img{
                    margin: 0 auto;
                    width: 80%;
                }
            }
        }
        section.section__get-started-with{
            padding: 3rem;
            .heading{
                margin-bottom: 2rem;
                font-size: 1.2rem;
                font-weight: 400;
            }
            .options-list{
                display: grid;
                gap: 1.5rem;
                .option{
                    border-radius: .7rem;
                    background: $color-semi_blue;
                    padding: 1rem 2rem;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    text-decoration: none;
                    transition: all .4s ease-in-out;
                    .option-title{
                        padding-left: 2rem;
                        font-style: italic;
                        transition: all .4s ease-in-out;
                        line-height: 4rem;
                        font-size: 3rem;
                        font-weight: 400;
                        color:$color-light-black;
                    }
                    .option-figure{
                        max-height: 100%;
                        overflow: hidden;
                        img{
                            transition: all .4s ease-in-out;
                            width: 100%;
                            max-width: 20rem;
                        }
                    }

                    &:hover{
                       img, .option-title{
                        scale: 1.05;
                       }
                    }
                }
            }
        }
    }
}

// making everything responsive 
@media (max-width: $breakpoint-L-tab) {
    nav{
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }
    body{
        position: relative;
        main{
            width: 100vw !important;
        }
    }
    .sidebar_toggler{
        display: inline-block !important;
        z-index: 10;
    }
    .sidebar_visible{
        transform: translateX(0) !important;
    }
    aside{
        height: 100vh !important;
        position: absolute !important;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-20rem);
        z-index: 9;
        border-right: 1px solid rgba(128, 128, 128, 0.326);

        .top-options{
            padding-top: 2rem;
        }
    }
    .hero__section{
        padding: 3rem 1.5rem !important;
        .hero__section-main-heading{
            max-width: 100vw;
            font-size: 3rem !important;
        }
        .hero__section-figure{
            img{
                width: 100% !important;
            }
        }
        
    }
    section.section__get-started-with{
        padding: 1rem  !important;
        .option-list{
            .option{
                min-height: fit-content;
                max-height: 100vw !important;
                flex-direction: column;
                .option-figure{
                    width: 100% !important;
                    img{
                        width: 100% !important;

                    }
                }
            }
        }
    }
    }