@import './config.scss';

main{
    .page-heading{
        font-family: inter, sans-serif;
        font-weight: 400;
        letter-spacing: 0.01rem;
        line-height: 4rem;
        font-size: 3rem;
    }
}