@import 'config';

main{
    background: $color-white !important;
    .heading-section{
        display: grid;
        gap: 3rem;
        padding: 1.5rem;
        margin: 2rem 0;
        margin-bottom: 0;
        padding-bottom: 0;
        .page-heading{
            font-family: inter, sans-serif;
            font-weight: 400;
            letter-spacing: 0.01rem;
            // line-height: 4rem;
            font-size: 3rem;
        }

        .add__products-con{
            width: 100%;
            display: flex;
            justify-content: space-between;
    
            .big_btn{
                overflow: hidden;
                max-height: 2.1rem;
                display: grid;
                place-items: center;
                padding: .5rem;
            }
            details > summary {
                list-style-type: '▶️';
                text-align: center;
            }
            
            details[open] > summary {
                list-style-type: '🔽';
                margin-bottom: 1rem;
            }
            
            details {
                width: 12rem;
                padding: 0.5rem;
                display: grid;
                place-items: center;
                border: 1px solid gray;
                border-radius: 0.2rem;

                ul{
                    width: 100%;
                    display: flex;
                    gap: .5rem;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    a{
                        width: 100%;
                        padding: 1rem 0;
                        color: inherit;
                        text-decoration: none;
                        max-width: 100%;
                        display: flex;
                        background: $color-semi_blue;
                        flex-wrap: wrap;
                        justify-content: center;
                        li{
                            text-wrap: wrap;
                            list-style: none;
                        }
                        &:hover{
                            border: 1px solid $color-dark-grey;
                        }
                    }
                }
                button{
                    border-radius: 0.2rem;
                    margin: 1rem 0;
                    background: $color-brand-blue;
                    color: $color-white;
                    padding: 1rem 0;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                }
            }
            
        }
    }
    section.section__your__products{
        width: 100%;
        background-color: $color-white;
        padding: 1.5rem;
        margin: 2rem 0;
        .section__products__grid{
            display: grid;
            gap: 1rem;
            width: 100%;
            padding: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            column-gap: 2rem;

            .product{
                min-height: fit-content;
                display: inline-flex;
                background: $color-semi_white;
                border-radius: .5rem;
                border: 1px solid $color-semi_blue;
                gap: .4rem;
                transition: all .2s ease-in;
                box-shadow: rgba(0, 0, 0, 0) 0px 4px 12px;
                &:hover{
                    scale: 1.02;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                }

                img.product__img{
                    width: 40%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }

                .product__content-con{
                
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    gap: .8rem;
                    justify-content: center;
                    align-items: center;

                    .product__title, .product__config-con, .product__detail-con{
                        color: $color-grey;
                        width: 80%;
                        flex-wrap: wrap;
                    }
                    .product__detail-con{
                        display: inline-flex;
                        gap: 1rem;
                    }
                    .product__config-con{
                        display: inline-flex;
                        gap: .4rem;
                        svg{
                            color: $color-grey;
                            width: 1.5rem;
                            cursor: pointer;
                            transition: all .2s ease-in;
                            &:hover{
                                color: $color-black;
                                scale: 1.1;
                            }
                        }
                    }
                }

            }
        }
    }
}

@media (width < 594px) {
    .section__products__grid{
        .product{
        display: flex;
        flex-direction: column !important;
        img, .product__title, .product__config-con, .product__detail-con{
        width: 100% !important;
        }
        }
        .product__title, .product__config-con, .product__detail-con{
        padding: 0 1rem;
        }
        .product__title{
            padding-top: 1rem;
        }
        .product__config-con{
            padding-bottom: 1rem;
        }
    }
    .add__products-con{
        flex-direction: column-reverse;
        details{
            width: 100% !important;
        }
    }
}