 

@import './config.scss';

main{

    width: 100vw;
    background: $color-ultra-light-grey;

    .sections-con{
        overflow: visible !important;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        section.products-section{
            gap: 2rem;
            border-radius: .5rem;
            width: 60%;
            margin: 5rem 0;
            padding: 1.5rem;
            background: $color-white;
            hr{
                margin: 1.5rem 0;
            }
            div.order-indications{
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify !important;
                    -ms-flex-pack: justify !important;
                        justify-content: space-between !important;
                div{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    gap: .7rem;
                    color: $color-dark-grey;
                    a{
                        
                        svg{
                            color: $color-dark-grey;
                            width: 2.5rem;
                        }
                    }
                }
                .orderIndicator{
                    padding: 0.7rem 1.5rem;
                    border-radius: 10rem;
                    color: $color-white !important;
                    cursor: pointer;
                    -webkit-transition: all .4s ease-in;
                    -o-transition: all .4s ease-in;
                    transition: all .4s ease-in;
                    min-width: 6rem;
    
                    &:hover{
                        scale: 1.01;
                    }
                }
                .orderIndicator.fullfilled{
                    background: $color-green;
                }
                .orderIndicator.pending{
                    background: $color-yellow;
                }
                .orderIndicator.cancelled{
                    background: $color-red;
                }
            }
            div.product-con{
                margin: 2rem 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                gap: 2rem;
                .product{
                    min-height: 5rem;
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    .product-data{
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        gap: 1rem;
                        max-width: 50vw;

                        a{
                            color: $color-dark-grey;
                        }
                        img{
                            aspect-ratio: 1/1;
                            min-width: 4rem;
                            width: 4rem;
                        }
                    }
                    .product-price{
                        padding-right: .2rem;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        gap: .5rem;
                        -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                                justify-content: space-between;
                    }
                }
            }

            div.total-con{
                hr{
                    margin: 1rem 0;
                }
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                gap: 1rem;
                .total-row{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                }
            }
        }
        section.section-customer-info{
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            position: sticky;
            top: 1rem;
            margin: 5rem 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column  ;
                    flex-direction: column  ;
            border-radius: .5rem;
            padding:  1.5rem;
            width: 33%;
            background: $color-white;

            .customer-info{
                margin: 2rem 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                
                h1{
                    padding-bottom: 1rem;
                }
                .details-fields{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    gap: .5rem;
                }
            }
        }
    }
}

@media (width < 1086px) {
    .sections-con{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 3rem;
        padding: 2rem 0;
        section.products-section,section.section-customer-info{
            margin: 0 !important;
            width: 95% !important;
        }
    }
}