@import './config.scss';


main{
    min-height: 20rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cart-items-con{
        width: 90vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .cart-item{
            border: 2.5px solid $color-semi_white;
            border-radius: 8px;
            min-height: 5rem;
            padding: 1rem 0;
            width: 100%;
            display: flex;
            gap: .5rem;
            justify-content: right;
            align-items: center;
            div.cart-item-section{
                min-width: 20%;
                &:first-child{
                    padding-left: .7rem;
                    min-width: 35%;
                }
            }
            .small-screen-cart-item{
                display: none;
            }
            .product-details-section{
                width: 35%;
                display: flex;
                align-items: center;
                gap: .4rem;
                .product-img-con{
                    min-width: 5rem;
                    position: relative;
                    button{
                        cursor: pointer;
                        display: none;
                        overflow: hidden;
                        color: $color-white;
                        aspect-ratio: 1/1;
                        top: 0;
                        background: $color-brand-blue;
                        border-radius: 50%;
                        position: absolute;
                        svg{
                            width: 1.5rem;
                        }
                    }
                    &:hover{
                        button{
                            display: block;
                        }
                    }
                    img.product-img{
                        aspect-ratio: 1/1;
                        width: 5rem;
                        object-fit: cover;
                    }
                }
                div.product-context{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 90%;
                    gap: 1rem;
                }
            }
            .quantity-section{
                min-width: fit-content;
                input{
                    margin: 0;
                    color: $color-dark-grey;
                    border: $color-medium-grey 2px solid;
                    width: 5rem;
                    height: 3rem;
                    font-size: 1.5rem;
                    text-align: center;
                    border-radius: 3px;

                    &:active, &:focus-within, &:focus-visible{
                        border: $color-medium-grey 2px solid ;
                    }

                    &::-webkit-inner-spin-button, 
                    &::-webkit-outer-spin-button {  
                        display: none;
                    }
                }
            }
        }
        .cart-footer-con{
            width: 80vw;
            display: flex;
            justify-content: flex-end;
            padding: 3rem 0;
            .cart-footer{
                min-width: 15rem;
                width: 20rem;
                max-width: 90vw;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 1rem;
    
                p{
                    color: $color-dark-grey;
                    font-size: 1rem;
                    span{
                      font-weight: 500;
                    }
                }
                a{
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2rem;
                    font-weight: 500;
                    gap: 1rem;
                    border: solid 1.4px $color-grey;
                    color: $color-light-black;
                    border-radius: 6px;
                    transition: all .1s ease-in;
                    text-decoration: none;
                    width: 80%;
                    height: 4rem;
                    background: linear-gradient(0deg, $color-black 0%, #1b1b1b 100%);
                    color: $color-white;
                    max-width: 100vw;
    
                    &:hover{
                        background: linear-gradient(0deg, #1b1b1b 0%, $color-black 100%);
                    }
                }
            }
        }
    }

}

section.empty-cart{
    width: 100vw;
    margin: 8rem 0;
    padding: 2rem 0;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 2.2rem;
        font-weight: 500;
    }
    .product-suggestions{

        margin: 4rem 0;
        .products-con{
            padding: 2rem 0;
            width: 90vw;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
}

@media (max-width: $breakpoint-L-tab) {
main{
    .hero__title,.cart-items-con{
        width: 95vw;
        }
    }
    .large-screen-cart-item-section{
        display: none;
    }
    .small-screen-cart-item{
        display: block !important;
    }
    .cart-item{
        justify-content: space-between !important;
    }
    .product-details-section{
        flex-direction: row ;
        width: 70% !important;
        .product-img-con{
            width: fit-content;
        }
        p{
            width: 50%;
        }
        max-width: 100vw ;
    }
}
