@import "./config.scss";

body {
  width: 100vw;
  display: flex;
  flex-direction: column;   
  justify-content: center;
  main {
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    section {
      width: 40%;
    }
    section.section-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hero__title {
        width: 75% !important;
        margin: 0;
      }
      form {
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .form__field-con {
          display: flex;
          flex-direction: column;
        }
        .checkbox {
          padding-top: 0.2rem;
          display: flex;
          gap: 0.3rem;
          align-items: center;
        }
        label {
          color: $color-dark-grey;
        }
        input {
          min-height: 2.5rem;
          font-size: 0.9rem;
          font-weight: 400;
          padding-left: 1rem;
          color: $color-black;
          border: 1px solid $color-light-black;
          border-radius: 6px;
          transition: 0.3s all ease-in;

          &:focus-within {
            border: none;
            border: 2px $color-brand-blue solid;
          }
        }
        input[type="checkbox"] {
          height: 1rem;
        }
        .dual-form-feild-con {
          display: flex;
          justify-content: space-between;
          .form__field-con {
            width: 49%;
          }
        }
        input[type="submit"] {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          font-weight: 500;
          gap: 1rem;
          padding: 1rem 0.8rem;
          border-radius: 6px;
          transition: all 0.1s ease-in;
          text-decoration: none;

          width: 100%;
          border: none;
          background: linear-gradient(0deg, #7699b6, 0%,$color-brand-blue  100%);
          color: $color-white;

          &:hover {
            background: linear-gradient(0deg, $color-brand-blue 0%, #7699b6, 100%);
          }
        }
      }
    }
    section.section-additional-info{
        padding-top: 3rem;
        min-height: 100%;
        .products-con{
            margin: 1rem 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .product{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .product-info{
                    display: flex;
                    align-items: center;
                    img{
                        width: 4rem;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }
                }
            }
        }
        .total-con{
          margin: 3rem 0;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          div{
            display: flex;
            width: 100%;
            justify-content: space-between;
          }
        }
        .coupon-con{
          display: flex;
          width: 100%;
          justify-content: space-between;
          input{
            width: 67%;
            height: 3rem;
            border: 1px solid $color-dark-grey;
            border-radius: 5px;
            padding-left: 1rem;
          }
          button{
            color: $color-white;
            border-radius: 5px;
            width: 30%;
            background-color: $color-brand-blue;
          }
        }
        .coupon-con.applied{
          *{
            cursor: not-allowed;
          }
          cursor: not-allowed;
          opacity: 0.5;

        }
    }
  }
}

@media (width < 768px) {
  body {
    align-items: center;
    main {
      width: 98vw !important;
      justify-content: center;
      gap: 4rem;
      section {
        width: 90% !important;
      }
      section.section-form {
        align-items: flex-start;
        form {
          width: 100%;
        }
      }
    }
  }
}
