@import 'config';

*{
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.notification{
    min-height: 2.5rem;
    width: 100%;
    background: $color-widgets;
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
}
nav{
    padding: 1rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand-title{
        font-size: 2.1rem;
        letter-spacing: .2rem;
        user-select: none;
        color: black;
        font-weight: 550;
    }
    ul{
        display: flex;
        gap: 1.5rem;

        li{
            a{
                color: $color-widgets;

                &:hover{
                    text-underline-offset: 3px;
                    text-decoration: underline 1px $color-widgets;
                }
            }
        }
    }
    .icon-links{
        display: flex;
        align-items: center;
        gap: 1.3rem;
    }
}

@media (max-width: $breakpoint-s-tab) {
    .notification{
        p{
            font-size: .75rem;
        }
    }
    nav{
        .brand-title,.hamburger,.icon-links{
            width: 33.333333333333336%;
            display: flex;
        }
        .hamburger{
            justify-content: left;
        }
        .icon-links{
            justify-content: right;
        }
        .brand-title{
            justify-content: center;
        }
    }
}
