@import 'config';

// notification bar (above navbar) 
.notification{
    min-height: 2.5rem;
    width: 100%;
    background: $color-black;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
}

// navbar
nav{
    border-bottom: 1.5px solid #F5F5F5;
    padding: 1.5rem 2.5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;



    // the links (desktop one) 
    ul{
        display: flex;
        gap: 1.5rem;

        li{
            a{
                color: $color-black;

                &:hover{
                    text-underline-offset: 3px;
                    text-decoration: underline 1px $color-black;
                }
            }
        }
    }



    //the icons (Cart and wishlist)
    .icon-links{
        display: flex;
        align-items: center;
        gap: .5rem;
        
        svg{
            cursor: pointer;
            height: 1.7rem;
            transition: all .5s ease-in;
            &:hover{
                scale: 1.05;
            }
        }

    }

}
// navbar (mobile one)
nav.mobile-only-nav{
    padding: 0;
    height: 50vh;
    transition: all .6s ease-in-out;
    ul.mob-nav-links{
        overflow: hidden;
        transition: all .5s ease-in-out;
        display: flex;
        flex-direction: column;
        min-height: 50vh;
        justify-content: space-evenly;
        width: 100vw;
        border-right: solid 1px $color-black;
        z-index: 99;
        background: $color-white;
        
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        a{
            display: flex;
            justify-content: center;
            padding: 1rem 0;
            font-size: 1.3rem;
            color: $color-light-black;
            &:hover{
                background: #e1e0e0;
            }
        }

    }
}
nav.mobile-only-nav.closed{
    height: 0!important;
    overflow:  hidden;
}

//product card
.Product-card{
    display: flex;
    flex-direction: column;
    width: 22%;
    position: relative;
    color: $color-black;
    gap: .3rem;
    margin: 1rem 0;
    min-width: 15rem;
    min-height: 14rem;
    img{
        aspect-ratio: 1/1;
        min-width:100%;
        object-fit: cover;
    }
    .discount-label{
        background: $color-brand-blue;
        position: absolute;
        top: 5%;
        left: 5%;
        padding: .2rem;
        font-size: .9rem;
        color: $color-white;
        border-radius: 4px;
    }
    
    //price and compared price 
    .prices{
        display: flex;
        width: 100%;
        gap: .6rem;

        .price-compared{
            color: $color-grey;
            text-decoration: line-through 1px $color-black;
        }
    }

    &:hover{
        h4{
            text-decoration: underline;
        }
    }
}

//quantity selector
quantity-selector{
    display: flex;
    width: 9rem;
    justify-content: space-between;
    height: 3rem;
    border: solid 1px $color-dark-grey;
    overflow: visible !important;
    align-items: center;
    input[type="number"]{
        color: $color-grey;
        width: 50%;
        text-align: center;
        height: 100%;
        font-size: 1.4rem;
        font-weight: 500;
        outline: none;
        border: none;
        -moz-appearance: textfield;

        &:focus-visible{
            height: 4rem;
            border: solid 1.3px $color-dark-grey;
        }
        
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    button{
        height: 100% !important;
        display: grid;
        width: 25%;
        cursor: pointer;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        transition: all .1s ease-in;
        svg{
            width: 2rem;
        }
    }
}

//footer
footer{
    margin-top: 5rem;
    min-height: 20rem;
    width: 100vw;
    background: $color-black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;

    div.column{
        height: 90% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color-semi_white;
        gap: 1rem;
        max-width: fit-content;


        li{
            width: 80%;
            list-style: none;

            a{
                color: $color-semi_white;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
        h3{
            width: 80%;
            color: $color-white;
        }
    }
    div.email-newsletter-column{
        width: 25%;
        max-width: 20rem;
        h3{
            width: fit-content !important;
        }
        div.email-newsletter{
            max-width: 100% !important; 
            display: flex;
            flex-direction: column;
            gap: .3rem;
            form{
                div{
                    width: 100%;   
                    padding: .3rem .5rem;
                    display: flex;
                    justify-content: space-between;
                    border: 2px solid $color-white;
                    border-radius: .4rem;
                    input[type=email]{
                        height: 2rem;
                        font-size: .9rem;
                        font-weight: 380;
                        background: transparent;
                        color: $color-semi_white;
                        border: none;
                        width: 90%;
    
                        &:focus-visible{
                            outline: none;
                        }
                    }
                    button{
                        min-width: 1.1rem;
                    }
                }
            }
        }
    }
    div.column-socials{
        h3{
            width: fit-content !important;
        }
    }
}


//styling things then are under $breakpoint-s-tab
@media (max-width: $breakpoint-s-tab) {
    .notification{
        p{
            font-size: .75rem;
        }
    }
    nav{
        .brand-title,.hamburger,.icon-links{
            width: fit-content;
            display: flex;
        }
        .hamburger{
            justify-content: left;
        }
        .icon-links{
            justify-content: right;
        }
        .brand-title{
            justify-content: center;
        }
    }
    .Product-card{
        width: 46%;
    }
}
@media (min-width:$breakpoint-s-tab) {
    nav.mobile-only-nav{
        display: none;
    }
}
@media (max-width: $breakpoint-L-tab) {
    .Product-card{
        min-width: 10rem;
        width: 49%;
    }
    footer{
        gap: 3rem;
        div.column{
            width: 48%;
            margin-top: 2rem;
            justify-content: center;
            align-items: center;
            min-width: fit-content;
        }
        div.email-newsletter-column{
            max-width: none;
            width: 100% !important;
            display: flex;
            align-items: center;

            .email-newsletter{
                width: fit-content !important;
            }
        }
    }
}
@media (max-width: $breakpoint-mob) {
    .Product-card{  
        width: 49%;
        min-width: 7rem;
    }
}

