// colors 
$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: grey;

// screen breakpoints
$breakpoint-mob: 375px;
$breakpoint-s-tab: 600px;

// utilities classes 
a[role="not-link"]{
    text-decoration: none;
}
button{
    background: none;
    border: none;
}
.none{
    display: none;
}
@media (min-width: $breakpoint-s-tab) {
    .hidden-on-L_screen{
        display: none;
    }
}
@media (max-width: $breakpoint-s-tab) {
    .hidden-on-S_screen{
        display: none;
    }
}