//*colors 
$color-black: #000000;
$color-light-black: #121212a3;
$color-white: #FFFFFF;
$color-grey: #363738;
$color-light-grey: #E0E3E7;
$color-ultra-light-grey: #F3F3F3;
$color-medium-grey: #BFBFBF;
$color-dark-grey: #7C7C7C;
$color-brand-blue: #5C788F;
$color-semi_white: #F9FAFB;
$color-semi_blue: #EBF5FF;
$color-gold: #FBBC04;
$color-yellow: #b69121;
$color-green: #027155;
$color-red: #a22c29;

//*screen breakpoints
$breakpoint-mob: 386px;
$breakpoint-s-tab: 600px;
$breakpoint-L-tab: 800px;

//*universal styles

*{
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;

    &::selection{
        background: $color-light-grey;
        color: $color-black;
    }
    img{
        user-select: none;
    }
}
body{
    padding: 0;
}
.swal2-container{
    overflow-x: visible !important;
}
*[role="overflowable"], .swal2-container *{
    overflow-x: visible !important;

}      

//*utilities classes

.skeleton-loading{
    user-select: none;
    background-color: #ffffff;
    animation: skeleton-loading 3.5s ease-in-out infinite alternate; 
}
@keyframes skeleton-loading {
    0% { 
        background-color: #f0f0f0; 
        color: #f0f0f0; 
    } 
    25% { 
        background-color: #f5f4f4; 
        color: #f5f4f4; 
    } 
    50% { 
        background-color: #dfdfdf; 
        color: #dfdfdf; 
    } 
    100% { 
        background-color: #d6d6d6; 
        color: #d6d6d6; 
    } 
}
.socials-con{
    display: flex;
    gap: 1rem;

    li{
        border: 2px solid $color-white;
        padding: .5rem;
        border-radius: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in-out;
        
        &:hover{
            background-color: $color-semi_white !important;
            svg{
                color: $color-black;
            }
        }
        a{
            svg{
                transition: all .3s ease-in-out;
                width: 1.5rem;
            }
        }
    }
}

//*brand name 
.brand-title{
    font-size: 2.1rem;
    letter-spacing: .2rem;
    user-select: none;
    color: $color-black;
    font-weight: 550;
}
a[role="not-link"]{
    text-decoration: none;
}
a.theme_link{
    color: $color-brand-blue;
    text-decoration-color: $color-brand-blue;
}
button, input[type="submit"]{
    cursor: pointer;
    background: none;
    border: none;
}
.none,.hidden{
    display: none !important;
}
.message.success{
    color: green;
}
.message.failure, .red{
    color: red;
}
/* loader */
.loader-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;

    .loader,.loader:after {
        overflow: hidden;

    border-radius: 50%;
    min-width: 10em;
    min-height: 10em;
    }
    .loader {
        overflow: hidden;
    margin: 60px auto;
    font-size: 5px;
    position: relative;
    text-indent: -9999em;
    border-top: .5rem solid rgba(92,120,143, 0.2);
    border-right: .5rem solid rgba(92,120,143, 0.2);
    border-bottom: .5rem solid rgba(92,120,143, 0.2);
    border-left: .5rem solid #5c788f;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    }
    }

    .loader-msg{
        max-width: 90vw;
        font-size: 1.2rem;
        color: $color-light-black;
        text-align: center;
    }

.loader-wrapper.overlay{
    background: $color-white;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    position: fixed;
    z-index: 10;
    .loader{
        z-index: 11 !important;
    }
}

//*buttons
.big_btn{
    padding: .8rem 1rem;
    background: $color-brand-blue !important;
    margin: 1rem 0;
    color: $color-white;
    text-decoration: none;
    border-radius: 6px;
    transition: scale .2s ease-in;

    &:hover{
        scale: 1.06;
    }
}
.outline-btn{
    border-radius: 6px;
    margin: 1rem 0;
    padding: .8rem 1rem;    
    color: $color-brand-blue;
    border: solid 2px $color-brand-blue;
    transition: scale .2s ease-in;
    &:hover{
        background: $color-brand-blue;
        color: $color-white;
    }
}
.two_btn_con{
    width: 100%;
    justify-content: right;
    display: flex;
    gap: 2rem;
    
}
.thin-heading{
    font-weight: 400;
}
.hero__title{
    padding: 2rem 0;
    margin-left: auto;
    font-size: 3rem;
    font-weight: 400 !important;
    color: #121212bf;
    width: 90vw;
}
//*default heading styles (with the border)
.section-heading{
    margin: 0 auto;
    width: 90vw;
    color: $color-brand-blue;
    line-height: 2rem;
    padding: 0 .5rem ;
    border-radius: 4px;
    border-left: 1rem solid $color-brand-blue;
    font-size: 1.3rem;
}

@media (min-width: $breakpoint-s-tab) {
    .hidden-on-L_screen{
        display: none;
    }
}
@media (max-width: $breakpoint-s-tab) {
    .hidden-on-S_screen{
        display: none;
    }
}

//*preventing color change on autofilling the form in chrome
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

@-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }