 

@import './config.scss';

.banner-img{
    width: 100%;
    min-height: 15rem;
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: relative;
    img{
        inset: 0;
        position: absolute;
        width: 100%;
        height: 25rem;
        z-index: -1;
        -o-object-fit: cover;
           object-fit: cover;
        opacity: .5;
    }
    h1{
        text-align: center;
        padding: 1rem;
        z-index: 9;
        font-size: 3rem;
        opacity: 1;
        font-weight: 450;
    }
}
main{
    padding: 6rem 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;

    section.abstract-design{
        width: 90%;
        max-width: 25rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        img{
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            border-radius: 1rem;

        }
    }
    form{
        width: 90%;
        max-width: 30rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        h1{
            margin: 1rem 0;
        }
        padding: 2rem 0;
        .inp-field{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            padding: .5rem 0;

            label{
                font-size: 1rem;
                padding: .5rem 0    ;
            }

            input,textarea{
                padding-left: 1rem;
                border: 1px solid $color-dark-grey;
                min-height: 2.5rem;
                border-radius: 6px;
                font-size: 1.05rem;

                &:focus-visible{
                    outline: none;
                    border: 2px solid $color-dark-grey;
                }
            }
            textarea{
                padding-top: 1rem;
                resize: vertical;
                min-height: 7rem;
                max-height: 16rem;
            }
        }
        input[type="submit"],button{
            margin: 1rem 0;
            padding: 1rem;
            border-radius: 6px;
            background: -webkit-gradient(linear, left bottom, left top, from($color-black), to(#1b1b1b));
            background: -o-linear-gradient(bottom, $color-black 0%, #1b1b1b 100%);
            background: linear-gradient(0deg, $color-black 0%, #1b1b1b 100%);
            color: $color-white;

            &:hover{
                background: -webkit-gradient(linear, left bottom, left top, from(#1b1b1b), to($color-black));
                background: -o-linear-gradient(bottom, #1b1b1b 0%, $color-black 100%);
                background: linear-gradient(0deg, #1b1b1b 0%, $color-black 100%);
                border: 10px;
            }
        }
    }
}