@import 'config';

//main section 
main{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    //the carousel
    .carousel__con{
        width: 100vw;
        display: flex;
        justify-content: center;
        //slider con
        .carousel__slider-con{
            display: flex;
            flex-direction: column;
            // slider 
            ul.carousel__slider{
                
                min-width: 90vw;
                aspect-ratio: 16/9;
                overflow: visible;
                transition: transform .5s ease;
                transform: translateX(0);
                margin: .5rem 0;
                // each slide 
                li.carousel__slide{
                    overflow: hidden;
                   position: absolute;
                    inset: 0;
                    aspect-ratio: 16/9;
                    width: 90vw;
                    border-radius: 6px;
                    //images inside slides
                    img{
                        width: 100%;
                        aspect-ratio: 16/9;
                        object-fit: cover;
                    }
                }

            }
            .carousel__nav{
                top: 90%;
                z-index: 9;
                width: 100%;
                right: 50%;
                display: flex;
                justify-content: center;
                gap: .5rem;
                
                .carousel__nav-dot{
                    height: .7rem;
                    aspect-ratio: 1/1;
                    background-color: rgba(128, 128, 128, 0.499);
                    border-radius: 100%;
                    cursor: pointer;
                    transition: background-color  .7s ease;
                }
                .carousel__nav-dot.active{
                    background-color: $color-brand-blue;
                }
            }
        }
    }
    //default section configuration
    section{
        width: 100vw;
    }

    //top products section
    section.top-procucts{
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //products container
        .products-con{
            margin: 4rem 0 ;
            width: 90vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // styles for product and it's children are in "./components.scss",
            // (product care == componenet)
        }
    }
}

@media (max-width: $breakpoint-s-tab) {
    .carousel{
        width: 95% !important;
        //making the carousel bigger on smaller screen
        ul.carousel__slider{
            min-width: 95vw !important;
            li.carousel__slide{
                width: 95vw !important;
            }
        }
    }
}