@import 'config';

main{
    .carousel__con{
        width: 100vw;
        display: flex;
        justify-content: center;
        .carousel__slider-con{
            display: flex;
            flex-direction: column;
            ul.carousel__slider{
                
                min-width: 80vw;
                aspect-ratio: 16/9;
                overflow: visible;
                transition: transform .5s ease;
                transform: translateX(0);
                margin: .5rem 0;
                li.carousel__slide{
                    overflow: hidden;
                   position: absolute;
                    inset: 0;
                    aspect-ratio: 16/9;
                    width: 80vw;
                    img{
                        width: 100%;
                        aspect-ratio: 16/9;
                        object-fit: cover;
                    }
                }

            }
            .carousel__nav{
                top: 90%;
                z-index: 9;
                width: 100%;
                right: 50%;
                display: flex;
                justify-content: center;
                gap: .5rem;
                
                .carousel__nav-dot{
                    height: .7rem;
                    aspect-ratio: 1/1;
                    background: $color-grey;
                    border-radius: 100%;
                    cursor: pointer;
                }
                .carousel__nav-dot.active{
                    background-color: $color-brand-blue;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-s-tab) {
    .carousel{
        width: 95% !important;
    }
}