@import 'config';

//main section 
main{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    //the carousel
    .carousel__con{
        margin: 0 auto;
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        //slider con
        .carousel__slider-con{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            // slider 
            ul.carousel__slider{
                width: 100%;
                display: flex !important;
                min-width: 90vw;
                aspect-ratio: 16/9;
                overflow: visible;
                transition: transform .5s ease;
                transform: translateX(0);
                position: relative !important;
                margin: .5rem 0;
                // each slide 
                li.carousel__slide{
                    overflow: hidden;
                    position: absolute;
                    inset: 0;
                    aspect-ratio: 16/9;
                    width: 100%;
                    border-radius: 6px;
                    //images inside slides
                    img{
                        width: 100%;
                        aspect-ratio: 16/9;
                        object-fit: cover;
                    }
                }

            }
            .carousel__nav{
                top: 90%;
                z-index: 9;
                width: 100%;
                right: 50%;
                display: flex;
                justify-content: center;
                gap: .5rem;
                
                .carousel__nav-dot{
                    height: .7rem;
                    aspect-ratio: 1/1;
                    background-color: rgba(128, 128, 128, 0.499);
                    border-radius: 100%;
                    cursor: pointer;
                    transition: background-color  .7s ease;
                }
                .carousel__nav-dot.active{
                    background-color: $color-brand-blue;
                }
            }
        }
    }
    //default section configuration
    section{
        width: 100vw;
    }

    //top products section
    section.top-procucts{
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //products container
        .products-con{
            margin: 4rem 0 ;
            width: 90vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // styles for product and it's children are in "./components.scss",
            // (product care == componenet)
        }
    }

    //speacial products
    section.speacial-offer{
        width: 100vw;
        display: flex;
        justify-content: center;
        .poster-con{
            width: 90%;
            border-radius: 6px;
            background: $color-black;
    

            .poster-content{
                user-select: none;
                display: flex;
                justify-content: space-evenly;
                height: 100%;
                .txt{
                    max-width: 40%;
                    min-height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1.2rem;
                    .category-text{
                        color: $color-gold;
                        font-weight: 550;
                    }
                    .offer-title{
                        font-size: 3rem;
                        color: $color-semi_white;
                        line-height: 3.5rem;
                    }
                    .cta{
                        display: flex;
                        justify-content: center;
                        color: $color-black;
                        text-decoration: none;
                        padding: 1.3rem;
                        border-radius: 6px;
                        background: $color-gold;
                        background: linear-gradient(0deg, #dda90d 0%, $color-gold 100%);
                        transition: all .5s ease;
                        font-size: 1rem;
                        font-weight: 560;
                        cursor: pointer;

                        &:hover{
                        background: linear-gradient(0deg, $color-gold 0%, #dda90d 100%);
                        scale: 1.001;
                        }

                    }
                }
                .img-con{
                    min-width: 45%;
                    display: flex;
                    align-items: center;
                    min-height: 100%;
                    max-width: 45%;
                    justify-content: right;

                    img{
                        height: 80% ;
                        filter: brightness(55%);
                        filter: saturate(40%);
                        filter: drop-shadow(0px 30px 60px rgba(148, 147, 147, 0.25)) drop-shadow(0px 18px 36px rgba(123, 123, 123, 0.3));
                        transition: all .3s ease-in-out;
                        
                        &:hover{
                            scale: 1.02;
                        }
                    }
                }
            }
        }
    }

    //features section
    section.key-features{
        .features-con{
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            .feature{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;
                width: 20%;
                .icon{
                    margin: 1rem 0;
                    min-width: 6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    background: $color-brand-blue;
                    border: .7rem $color-semi_blue solid;
                    transition: all .5s ease;
                    svg{
                        width: 3rem;
                        color: $color-semi_blue;
                    }

                    &:hover{
                        border-width: 0.000001px;
                        background: $color-semi_blue;   
                        svg{
                            color: $color-brand-blue
                        }
                    }   
                }
                h1{
                    font-size: 1.7rem;
                    letter-spacing: 0.03rem;
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: $color-grey;
                }
                p{
                    font-size: .9rem;
                    letter-spacing: -0.01rem;
                }
            }
        }
    }

    section.product-gallery{
        margin: 6rem 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        .gallery-con{
            width: 90%;
            display: flex;
            justify-content: center;
            gap: 2%;

            .big-product{
                max-width: 67%;
                height: 100%;
                overflow: hidden;
                position: relative;
                transition: all .5s ease;
                img{
                    transition: all .5s ease;
                    height: 100%;
                    max-width: 100%  !important;
                }
                .product-name{
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -50%);
                    transition: all .5s ease;
                    display: none;
                    color: $color-semi_white;
                    font-size: 3rem;
                    text-align: center;
                }
                &:hover{
                    img{
                        filter: brightness(50%);
                        scale: 1.1;
                    }
                    .product-name{
                        display: inline-block;
                    }
                }
            }
            .small-product-con{
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                .small-product{
                    position: relative;
                    max-height: 49%;
                    aspect-ratio: 1/1; 
                    overflow: hidden;
                    transition: all .5s ease;
                    img{
                        aspect-ratio: 1/1; 
                        width: 100%;
                        transition: all .5s ease;
                        
                    }
                    .product-name{
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        transform: translate(50%, -50%);
                        transition: all .5s ease;
                        display: none;
                        color: $color-semi_white;
                        font-size: 2rem;
                        text-align: center;
                    }
                    &:hover{
                        img{
                            filter: brightness(50%);
                            scale: 1.1;
                        }
                        .product-name{
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $breakpoint-s-tab) {
    .carousel{
        width: 95% !important;
        //making the carousel bigger on smaller screen
        ul.carousel__slider{
            min-width: 95vw !important;
            li.carousel__slide{
                width: 95vw !important;
            }
        }
    }
}

@media (max-width: $breakpoint-L-tab) {
    section.speacial-offer{
        .poster-con{
            padding: 1.5rem 0;
            aspect-ratio: none !important;
            height: max-content;
            padding: 2rem 1rem;
            
            .poster-content{
                width: 95%;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center !important;
                gap: 3rem;
                .txt{
                    min-width: 90%; 
                    .offer-title{
                        font-size: 2.5rem !important;
                    }

                }
                .img-con{
                    padding: 2rem 0;
                    max-width: 100%;
                    min-width: 100% !important;
                    width: 100% !important;
                    img{
                        width: 90% !important;
                    }
                }
            }
        }
    }
    section.key-features{
        .features-con{
            align-items: center;
            flex-direction: column;
            width: 90%;

            .feature{
                margin: 2rem 0;
                width: 100% !important;
            }
        }
    }
    section.product-gallery{
        .gallery-con{
            width: 100%;
            flex-direction: column;
            align-items: center;
            .big-product,.small-product-con{
                width: 100vw !important;
                justify-content: flex-start !important;
            }
            .big-product{
                width: 100vw;
                aspect-ratio: 1/1;
                min-height: 58%;
                height: none !important;
                max-width: none !important;
                display: flex;
                justify-content: center !important;
                img{
                    height: 100%;
                }
                .product-name{
                    font-size: 1.7rem;
                }
            }
            .small-product-con{
                margin: 1rem 0;
                max-height: 40%;
                width: 100%;
                flex-direction: row !important;
                justify-content: space-between;
                .small-product{
                    overflow: hidden;
                    width: 48%;
                    max-height: fit-content !important;
                    img{
                        height: 100%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        object-position: center;
                        aspect-ratio: none;
                    }
                }
            }
        }
    }
}