@import './config.scss';
main{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    .imgs-section{
        padding: 5rem 0;
        width: 48%;
        display: flex;
        flex-direction: column;
        .product-tree{
            display: flex;
            gap: .5rem;
            font-size: larger;
            padding: 1.5rem 0;
            .all-products-link{
                color: $color-dark-grey;
            }
        }
        .primary-img-con,.sec-img-con{
            display: flex;
            justify-content: space-between;
            .skeleton-loading{
                aspect-ratio: 1/1;
            }
            img{
                width: 100%;  
            }
        }
        .primary-img-con{
            img{
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
            margin: 1rem 0;
        }
        .sec-img-con{
            width: 100%;
            gap: 2%;
            div{
                width: 49%;

                img{
                    width: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }
            }
        }
        .overlay-img-preview{
            background: rgba(35, 29, 29, 0.42);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(9.3px);
            -webkit-backdrop-filter: blur(9.3px);
            border: 1px solid rgba(35, 29, 29, 0.3);
            width: 100vw !important ;
            height: 105vh !important;
            position: fixed;
            z-index: 11;
            inset: 0;
            top: -3vh;
            display: grid;
            place-items: center;
            justify-content: center;
            img{
                max-width: 30rem !important;
                z-index: 12 !important;
            }
        }
    }
    .details-section{   
        padding: 6.5rem 1.5rem;
        width: 38%;
        display: flex;
        flex-direction: column;

        .product-data{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 0;
            padding-bottom: 2rem;
            border-bottom: 2px solid $color-light-grey;
            color: $color-grey;



            .product-title{
                width: fit-content;
                font-size: 2rem;
                letter-spacing: 0.02rem;
            }
            .product-price{
                width: fit-content;
                font-size: 1.7rem;
                font-weight: 490;
                letter-spacing: 0.05rem;
            }
            .product-description{
                color: $color-grey;
                line-height: 1.2rem;
                font-size: 1rem;
                letter-spacing: 0.05rem;
                font-weight: 500;
                width: fit-content;
            }
        }

        .cta-con{
            width: 100%;
            padding: 2rem 0;
    
            .quantity-con{
                overflow: visible !important;
                padding: 1rem 0;
                p{
                    color: $color-dark-grey;
                    padding: .5rem 0;
                }
                quantity-selector{
                    width: 12rem;
                }
            }
            div.two_btn_con{
                gap: 1.2rem;
                transition: all .1s ease-in;
                overflow: visible;
                margin: 1rem 0;
                justify-content: left;
                button,a{
                    cursor: pointer;
                    width: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2rem;
                    font-weight: 500;
                    gap: 1rem;
                    padding: 1rem .8rem ;
                    border: solid 1.4px $color-grey;
                    color: $color-light-black;
                    border-radius: 6px;
                    transition: all .1s ease-in;
                    text-decoration: none;
    
                    &:hover{
                        background: linear-gradient(0deg, $color-black 0%, #1b1b1b 100%);
                        color: $color-white;
                        color: $color-white
                    }
                    svg{
                        height: 2rem;
                    }
                
                }
                .buyNowBtn{
                    width: 100%;
                    background: linear-gradient(0deg, $color-black 0%, #1b1b1b 100%);
                    color: $color-white;

                    &:hover{
                        background: linear-gradient(0deg, #1b1b1b 0%, $color-black 100%);
                        border: 10px;
                    }
                }
            }
        }
        .features-section{
            border: 1px solid $color-dark-grey;
            border-radius: 4px;
            .feature{
                padding: 2rem 1rem;
                display: flex;
                gap: 1rem;
                align-items: center;
                .icon{
                    min-width: 3rem;
                    svg,img{
                        width: 2.5rem;
                    }
                }
                .context{
                    display: grid;
                    gap: .5rem;
    
                }
            }
        }
    }
    .skeleton-loading{
        border-radius: 4px;

    }
}

section.product-suggestions{
    width: 100vw;
    display: grid;
    justify-content: center;
    margin-top: 7rem;
    
    .products-con{
        padding: 2rem 0;
        width: 90vw;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}


//*responsiveness
@media (max-width: $breakpoint-L-tab) {
    main{
        flex-direction: column;
        align-items: center;
        .imgs-section,.details-section{
            padding: 1rem 1rem ;
            width: 95%;
        }
        .add-to-cart-cta{
            flex-wrap: nowrap !important;
            justify-content: left !important;
            quantity-selector{
                width: 90% !important;
            }
            button p{
                display: none;
            }
        }
    }
}